.logo {
  background-image: url('../../../../public/logo.png'); /* Adjust this path */
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px; /* Set width */
  height: 40px; /* Set height */
}
