@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.add-ticket {
  width: 200px; /* Set the expanded width permanently */
  font-family: 'Quicksand', sans-serif;
  z-index: 50; /* Ensure the sidebar is above other elements */
  transition: width 0.3s; /* Optional: smooth transition */
}

.add-ticket-icon { /* Updated class name to match the JSX */
  height: 1.625rem; /* Set height */
  width: 1.625rem; /* Set width */
  filter: brightness(0) invert(1); /* Makes the icon white */
  transition: filter 0.3s; /* Smooth transition for filter */
}

.add-ticket-icon:hover { /* Updated class name to match the JSX */
  filter: none; /* Reset filter on hover to show the original color */
}
.dashboard {
  width: 200px; /* Set the expanded width permanently */
  font-family: 'Quicksand', sans-serif;
  z-index: 50; /* Ensure the sidebar is above other elements */
  transition: width 0.3s; /* Optional: smooth transition */
}

.dashboard-logo { 
  height: 1.625rem; /* Set height */
  width: 1.625rem; /* Set width */
  filter: brightness(0) invert(1); /* Makes the icon white */
  transition: filter 0.3s; /* Smooth transition for filter */
}

/* Change the icon color when hovering over the parent container */
li:hover .dashboard-logo {
  filter: none; /* Reset filter on hover to show the original color */
}


.open-icon-hover {
  display: none; /* Hide hover image by default */
  height: 1.625rem; /* Set height */
  width: 1.625rem; /* Set width */
}

/* Change the icon on hover */
li:hover .open-icon {
  display: none; /* Hide default image on hover */
}

li:hover .open-icon-hover {
  display: block; /* Show hover image on hover */
}



.close-icon-hover {
  display: none; /* Hide hover image by default */
  height: 1.625rem; /* Set height */
  width: 1.625rem; /* Set width */
}

/* Change the icon on hover */
li:hover .close-icon {
  display: none; /* Hide default image on hover */
}

li:hover .close-icon-hover {
  display: block; /* Show hover image on hover */
}

.report-icon { 
  height: 1.625rem; /* Set height */
  width: 1.625rem; /* Set width */
  filter: brightness(0) invert(1); /* Makes the icon white */
  transition: filter 0.3s; /* Smooth transition for filter */
}

/* Change the icon color when hovering over the parent <li> */
li:hover .report-icon {
  filter: none; /* Reset filter on hover to show the original color */
}
